body {
    margin: 0 auto;
}

.logo {
    padding-top: 50px;
    text-align: center;
}

form {
    padding-top: 10px;
    text-align: center;
}

p {
    color: #34A853;
    font-size: 22px;
}

input[type='text'],
input[type='password'] {
    width: 200px;
    padding: 0 10px;
    border-radius: 4px;
    border: none;
}

input[type='submit'] {
    margin-right: 10px;
    margin-top: 10px;
    padding: 4px 20px;
    text-transform: uppercase;
    background-color: #00A1F1;
    color: #FFBB00;
    outline: none;
    border: 3px solid #F65314 ;
    border-radius: 4px;
    cursor: pointer;
}